@tailwind base;
@tailwind components;
@tailwind utilities;



html{
  background-color: #09090B;
  color: #27272A;
}



.grid-cols-galeria{
  columns: 5 250px;
  column-gap: 20px;
}

.grid-item{
  margin: 1rem;
}

