@tailwind base;
@tailwind components;
@tailwind utilities;



html{
  background-color: #09090B;
  color: #27272A;
  
}


:root{
  --gray: #27272A
  border: var(--gray);
  color: #27272A;
}


body{
  display: grid;
  min-height: 100dvb;
  grid-template-rows: auto 1fr auto;
}

.grid-cols-galeria{
  columns: 5 250px;
  column-gap: 20px;
}

.grid-item{
  margin: 1rem;
}

